/* Stylesheet for the Proprietary Malware section of https://www.gnu.org,
created November 13, 2019.
This file is in the public domain. */

#navlinks {
    display: none;
}
#about-dir {
    font-size: .9em;
    color: #444;
}
#about-page {
    font-style: italic;
}
#about-dir p, #about-page p {
    margin: .5em 0;
}
.important {
    margin: 2em 0;
}
#TOC {
    font-size: .9em;
    text-align: center;
    padding: .2em 3% 1.2em;
    margin: 1em auto;
}
#TOC h3 {
    display: none;
}
#TOC h4 {
    font-size: 1em;
    margin: 1em 0 .2em;
}
#TOC ul, #TOC li {
    display: inline;
    margin: 0;
}
#TOC li a {
    display: inline-block;
    padding: .1em .4em;
    margin: .3em;
    border: 1px solid #d9d8d3;
}
#TOC a, #TOC a:visited,
 #navlinks a, #navlinks a:visited {
    color: #004caa;
    text-decoration: none;
}
#TOC a:hover, #navlinks a:hover {
    text-decoration: underline;
}

@media (min-width: 57em) {
    #content {
        position: relative;
    }
    #navlinks {
        display: block;
        position: absolute; top: 0; left: 0;
        width: 12em;
        height: 100%;
        overflow: auto;
        padding: 0 0 3em;
        background: #fffef8;
        border-right: .1em solid #d9d8d3;
        margin: 0;
    }
    #navlinks h3 {
        font-size: 1.1em;
        text-align: center;
        padding: 1em .5em 0;
        margin-top: 0;
    }
    #navlinks h4 {
        font-size: 1em;
        margin: .5em 1em .2em;
    }
    #navlinks ul, #navlinks li {
        list-style: none;
        margin: 0;
    }
    #navlinks a {
        display: block;
        padding: 0 .5em 0 1.5em;
        margin: .1em 0;
    }
    #navlinks li.active a, #navlinks li.active a:visited {
        color: black;
        font-style: italic;
    }
    #navlinks li.active a:hover {
        text-decoration: none;
    }
    .article {
        margin-left: 11em;
    }
    .translators-notes {
        margin-left: 12.1em;
    }
}
@media (min-width: 63em) {
    #navlinks {
        width: 13em;
    }
    #navlinks h4 {
        font-size: 1em;
        margin: .5em 1.5em .2em;
    }
    #navlinks a {
        padding: 0 1em 0 2em;
    }
    .article {
        padding: 0 2%;
        margin-left: 11.9em;
    }
    .translators-notes {
        padding: 0 2%;
        margin-left: 13.1em;
    }
}
