/* Excerpt from Yahoo! grids (imported from combo.css)
http://web.archive.org/web/20070321054339/http://developer.yahoo.com/yui/grids/

Copyright (C) 2007, Yahoo! Inc. All rights reserved.

Redistribution and use of this software in source and binary forms, with or without modification, are
permitted provided that the following conditions are met:

* Redistributions of source code must retain the above
copyright notice, this list of conditions and the
following disclaimer.

* Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the
following disclaimer in the documentation and/or other
materials provided with the distribution.

* Neither the name of Yahoo! Inc. nor the names of its
contributors may be used to endorse or promote products
derived from this software without specific prior
written permission of Yahoo! Inc.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

.yui-g .yui-u .yui-g {
    width: 100%;
}
.yui-u, .yui-gc, .yui-gc .yui-u, .yui-gc .yui-g,
 .yui-g div.first, .yui-gc div.first, .yui-g .yui-gc div.first,
 .yui-gc div.first div.first {
    float: left;
}
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gc, .yui-gc .yui-u,
 .yui-gd .yui-g, .yui-g .yui-gc .yui-u {
    float: right;
}
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gc {
    width: 49.1%;
}
.yui-gc .yui-u, .yui-gc .yui-g {
    width: 32%; margin-left: 1.99%;
}
.yui-gc div.first {
    width: 66%; margin-left: 0;
}
.yui-g .yui-g .yui-u, .yui-gc .yui-g .yui-u {
    width: 49%; *width: 48.1%; *margin-left: 0;
}
.yui-g .yui-g .yui-u {
    width: 48.1%;
}
.yui-g .yui-gc div.first {
    width: 66%;
}
.yui-g .yui-gc .yui-u {
    width: 32%;
    _float: right;
    margin-right: 0;
    _margin-left: 0;
}
.yui-gc .yui-g .yui-u {
    *width:48.1%;
    *margin-left:0;
}
.yui-g:after, .yui-gc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.yui-g, .yui-gc {
    zoom: 1;
}
/* End Yahoo! grids */


/* GNU30 STYLESHEET

Copyright (C) 2013, 2016 Free Software Foundation

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
*/

.h-projects li {
	font-size: 1.4em;
	font-weight: bold;
    list-style-type: none;
    text-align: center;
    margin: 0.2em;
	padding: 0.15em;
	border-radius: 0.3em;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: #919191;
    color: rgb(255, 255, 255);
}
.h-projects a[href] {
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.h-projects a[href]:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.h-projects a[href]:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.h-projects li:hover {
    background-color: rgb(52, 101, 164);
}

.gnu30-btn a {
    display: block;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: bold;
    padding: .3em .5em;
    border: .1em solid #999;
    border-radius: .3em;
}
.gnu30-btn a[href] {
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: #919191;
    color: rgb(255, 255, 255); 
    text-decoration: none;
}
.gnu30-btn a[href]:visited {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}
.gnu30-btn a[href]:hover {
    background-color: rgb(52, 101, 164); 
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

#content {
    padding-bottom: 0em;
}
.emph-box {
    margin-bottom: 20px;
	border: 3px solid #cccccc;
	border-radius: 0.4em;
}
.emph-box p {
  font-size: 1em;
}
.emph-box h4 {
  background-color: #919191; 
  color: rgb(236, 236, 236);
  border-radius: 0.2em;
}
.emph-box h4 a[href] {
	color: #ececec;
}
.emph-box h4 a[href]:visited {
	color: #ececec;
}
.emph-box h4 a[href]:hover {
	color: rgb(52,101,164);
}
.emph-box h4 a[href]:active {
	color: rgb(52,101,164);
}
.gnu-a-day {
	border: 2px solid rgb(52, 101, 164);  /* alternative: #98a9b6, #43779f; */
	border-radius: 0.3em;
	padding: 0.4em;
}
td:first-child {
    width: 5%; /* 12% */
    text-align: center;
}
td:first-child + td {
    width: 60%;
	text-align: center;
}

.narrow-region {
	width: 82%;
	margin-left: 9%;
}

pre {
    width: 98%;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #e1e1e1;
    border: 2px solid #d1d1d1;
    display: block;
    margin-left: 1%;
    border-radius: 0.3em;
}

@media screen and (max-width:40em) {
	.yui-g .yui-u,.yui-g div.first, .yui-gc div.first, .yui-gc .yui-u {
		width:98%; float: none; margin-left: 1%;
	}
}
