/* Stylesheet for the GNU Art section of https://www.gnu.org,
created February 4, 2019.  
This file is in the public domain. */

h2 {
   margin-bottom: .5em;
}
h3 {
   font-size: 1.2em;
   margin: 1.9em 0 1.2em;
}
h3 span {
   font-size: .9em;
   font-weight: normal;
}
dl.compact dd {
   margin-right: 0;
}

/* Defined in layout.css. */
p.byline {
   margin-bottom: 2em;
}
.reduced-width {
   width: 50em;
}
.reduced-width blockquote {
   margin: 1.5em 3%;
}
.infobox.c {
   clear: both;
   border: none;
}
.infobox.c hr {
   display: none;
}

/* ====== This may eventually move to layout.css. */
table.overflow {
   display: block;
   max-width: 100%;
/* width needs to be specified. */
   overflow: auto;
   margin: 2em auto;
}
/* =============== */

/* Many small images on the same type. */ 
.thumb {
   display: inline-block;
   vertical-align: top;
   width: 15em;
   line-height: 1.2em;
   padding: .5em;
   background: #eee;
   margin: .5em .3em;
}
.thumb dd {
   margin: .3em 0 0 1em;
} 
.thumb dt {
   font-weight: normal;
   font-style: italic;
}

/* Wallpaper miniatures */
table.wp {
   display: block;
   text-align: center;
}
table.wp tr {
   display: inline-block;
   vertical-align: top;
   width: 15.5em;
   margin: .5em;
}
table.wp td {
   display: block;
   text-align: left;
   border: none;
}
table.wp td.wp {
   padding: 0;
}
#content table.wp td.wp img {
   display: block;
   max-width: 100%;
   max-height: 100%;
   margin: auto;  
   background: #888;
}
table.wp td dt, table.wp td dt,  table.wp td p {
   margin-top: .3em;
}
table.wp p {
   margin: .3em 0 0;
}

/* A few large images. */
.left { float: left; }
.right { float: right; }
.left, .right {
   width: 23.5em;
   max-width: 98%;
   text-align: center;
   margin: 0 1% 2.3em;
}
@media (max-width: 53em) {
   .left, .right {
      float: none;
      margin: 0 auto 2.3em;
   }
}
.centered {
   max-width: 100%;
   text-align: center;
   margin: 0 auto 2.3em; 
}
.left img, .right img, .centered img, .thumb img {
/* width should be defined in the page. */
   max-width: 100%;
}

/* Captions. */
.left p, .right p, .centered p, thumb p,
 .thumb ul, .thumb dl, .thumb dt {
   margin: .5em 0 0;
}
.left ul, .right ul, .centered ul {
   margin: .7em 0 0;
}
.left ul li, .right ul li, .centered  ul li, .thumb ul li  {
   list-style-type: none;
   margin: .3em 0 0;
}

/* Suppress unwanted background on hover. */
.left a:hover, .right a:hover,
.centered a:hover, .thumb a:hover {
   background: none;
}

/* Defined in layout.css. */
@media (min-width: 45em) {
   .pict.narrow {
      margin-bottom: 2.5em;
   }
}
@media (min-width: 50em) {
   .pict.medium {
      margin-bottom: 2.5em;
   }
}
@media (min-width: 57em) {
   .pict.wide {
      margin-bottom: 2.5em;
   }
}
