/* Stylesheet for the section menus of https://www.gnu.org,
created November 27, 2019; last modified April 28, 2021.
This file is in the public domain. */


/*******************************/
/*  For CSS3-unaware browsers  */
/*******************************/

#content, .reduced-width {
   padding-bottom: 0;
   margin-top: 0;
   margin-bottom: 0;
} 
#last-div { padding-bottom: 2em; }

#side-menu-button {
   display: inline-block;
   height: 1.9em;
   padding: .2em .2em .2em 0;
   margin: .1em .5em 0 0;
   text-decoration: none;
}
#side-menu-icon {
   vertical-align: top;
   padding: .05em;
}
#navlinks {
   display: block;
   padding: .6em 3.2% 1.5em;
   margin: 0 -3.2%;
   border-top: 3px solid #ddd;
}
#navlinks .reduced-width { width: 30em; }

#navlinks h3 {
   font-size: 1.06em;
   padding: 0 .5em;
   margin: .7em 0;
}
#navlinks .nolink, #navlinks .reduced-width a {
   font-size: .94em;
   line-height: 1.2em;
   padding: .25em .6em;
}
#navlinks dl {
   margin: .7em 0 0;
}
#navlinks ul {
   margin: 0 0 0 1.5em;
   border-left: 1px solid #999;
}
#navlinks dl dt, #navlinks dl dd, #navlinks li {
   margin: .2em 0;
}
#navlinks li { list-style: none; }
#navlinks ul.inline-list li { display: inline-block; width: 100%; }
#navlinks dl a { display: block; }


/*******************/
/*  Media queries  */
/*******************/

@media (min-width: 57em) {
   #content {
       position: relative;
       margin-left: 14.1em;
   }
   #navlinks {
      position: absolute;
      top: 0; right: 100%;
      display: inline-block;
      width: 14em;
      height: 100%;
      overflow: auto;
      padding: 0;
      margin: 0;
      border-top: none;
      border-right: .1em solid #bbb;
   }
   #navlinks h3 {
      text-align: center;
      margin: 1em 0 .45em;
   }
   #navlinks .nolink, #navlinks .reduced-width dt a {
      padding: .25em 1.2em;
   }
   #navlinks ul.inline-list li { display: block; }
   #navlinks .backtotop { display: none; }
   a#side-menu-button { display: none; }
}
@media (min-width: 65em) {
   #content {
       position: relative;
       margin-left: 17.1em;
   }
   #navlinks { width: 17em; }
}


/***********/
/*  Style  */
/***********/

#navlinks { background: #fffdf5; }

#navlinks a { text-decoration: none; }
#navlinks li a, #navlinks dt a { color: #049; }
#navlinks li a:hover, #navlinks dt a:hover { background: #eee; }

#navlinks li.current > a[href],
#navlinks li.current > a[href]:hover,
#navlinks dt.current   a[href],
#navlinks dt.current   a[href]:hover {
   font-style: italic;
   color: #333;
   background: #eee;
}
#navlinks dt.current { font-style: italic; }

#navlinks .reduced-width, #navlinks .reduced-width a[href] {
   font-family: "Noto Sans Display", "Noto Sans", "Liberation Sans",
                sans-serif;
}
