/*
style.rtl.css -- CSS adjustments for right-to-left languages.

Copyright (C) 2020 Free Software Foundation

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.  */

html, body, .nocenter, .summary ul, .toc ul {
   text-align: right;
}
.summary li, .toc li {
   margin: 0 1.5em 0 0;
}
#gnu-banner img {
   margin: 0 0 0 .15em;
}
.switch {
   margin-left: 0; margin-right: .4em;
}
#languages {
   direction: ltr;
   text-align: left;
}
#more-links, #less-links, .backtotop { float: left; }

.nav { margin-right: 0; margin-left: 1.5em }
}
@media (max-width: 34em) {
   .nav ~ .trans-disclaimer {
      float: left;
      text-align: left;
   }
}
a#side-menu-button {
   margin: .4em -.1em .3em 1em;
}
#content #navlinks ul {
   margin: 0 1.5em 0 0;
   border-left: none;
   border-right: 1px solid #999;
}
.breadcrumb {
   margin: .5em 0 0 1.5em;
}
.translators-notes {
   clear: right;
}
#mission-statement img {
   float: right;
}

.big-section {
   clear: right;
   float: right;
}
.big-section h3 {
   margin: 1em 0 .5em .3em;
}
.big-subsection h4 {
   margin-right: 0; margin-left: .3em;
}

ol li { margin: 1em 1em 0 0; }
ul li, ul ol li { margin: .5em 1em 0 0; }

.listing .top, .back { text-align: left; }

.imgright { float: left;  margin: .3em 2em 1em 0; }
.imgleft  { float: right; margin: .3em 0 1em 2em; }
.announcement { border: none; border-right: .4em solid #5c5; }
.important    { border: none; border-right: .4em solid #fc7; }
.right-align { text-align: left; margin: 2em 10% 2em 0; }
.epigraph { margin: 2em 10% 2em 0; }

.lyrics { margin: 1em 4% 1em 1.5em; }
@media (min-width: 48em) {
   .lyrics { margin-left: 1.5em; margin-right: 8%; }
}

@media (min-width: 0) { 
   #languages { float: left; }
   #switches { padding-left: 0; padding-right: 1em; }
}
@media (min-width: 45em) {
   .pict.narrow {
      float:left;
      margin: .3em 2em 1em 0;
   }
}
@media (min-width: 48em) {
   .note, .summary {
      clear: left;
      float: left;
      margin: .5em 2em 1em 0;
   }
   #content .note { margin-right: 2em; margin-left: 0; }
}
@media (min-width: 50em) {
   .pict.medium {
      float:left;
      margin: .3em 2em 1em 0;
   }
}
@media (min-width: 57em) {
   #join-fsf { text-align: left; padding: 0 2em 0 0; }
   .pict.wide {
      float:left;
      margin: .3em 2em 1em 0;
   }
}
