.fundraiser {
    height: 150px;
    background: linear-gradient(to right, #e2dbe3, #d6c8c8), #d6c8c8;
    margin: 0;
}

.fundraiser .background {
    position: relative;
    min-height: 150px;
    overflow: hidden;
    margin: 0;
}

.fundraiser .background .content {
    height: 132px;
}

.fundraiser .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 132px;
    z-index: 1;
}

.fundraiser .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 132px;
    z-index: 1;
}

.fundraiser .cat {
    position: absolute;
    top: 100px;
    right: 47px;
    height: 30px;
    z-index: 1;
}

.fundraiser .background .content .message {
    z-index: 2;
    max-height: 132px;
    overflow: hidden;
    padding-right: 7px;
    padding-left: 7px;
}

.fundraiser .background .content .message a, .message a:visited, .message a:hover, .message a:active {
    color: black;
    text-decoration: none;
}

.fundraiser .background .content .message p {
    font-family: "Noto Sans Display","Noto Sans","Liberation Sans",sans-serif;
    color: black;
    padding-top: 5px;
    font-size: 10px;
    line-height: 15px;
    margin-top: 5px
}

/* Progress Bar */
.progresswidget {
    position: absolute;
    bottom: 0;
    padding: 0;
    height: 18px;
    width: 100%;
    font-size: 15px;
    line-height: 8px;
}

.progress {
    font-weight: bold;
    height: 18px;
}

.progress-front {
    background: #3e3748;
    position: absolute;
    min-width: 40px;
    z-index: 1;
    top: 0;
    left: 0;
}

.progress-back {
    background: #bec0c1;
}

.count {
    /* Once the fundraiser is further along, switch white to black and
           right to 0. */
    color: black;
    /*color: white;*/
    position: absolute;
    padding: 7px 5px 5px 6px;
    top: -2px;
    right: -65px;
    /*right: 0;*/
}

.goal {
    color: black;
    position: absolute;
    padding: 7px 6px;
    top: -2px;
    right: -1px;
}

/* Media Queries */
@media (max-width:200px) {
    .fundraiser .background .content .message p {
        /*display: none;*/
    }
}

/* We don't need to display a banner at this size! */
@media (max-width:304px) {
    .bg-left {
        display: none !important;
    }
    
    .fundraiser .background .content .message p {
        font-size: 11px;
        line-height: 20px;
        margin-left: 0 !important;
    }
}

@media (max-width: 849px) {
    .bg-right {
        display: none;
    }
}

@media (max-width: 849px){
    .bg-left {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/left-360.svg") no-repeat;
        width: 132px;
        height: 125px;
        top: 7px;
    }
    
    .fundraiser .background .content .message p {
        font-size: calc(0.012 * 100vw + 6.25px);
        line-height: calc(0.022 * 50vw + 5.25px);
        margin-left: 130px;
    }
}

@media (min-width: 850px){
    .cat {
        display: none;
    }
}

@media (min-width: 850px) and (max-width: 1439px) {
    .bg-left {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/left-715.svg") no-repeat;
        width: 230px;
        height: 132px;
        padding-left: 210px;
    }
    
    .bg-right {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/right-715.svg") no-repeat;
        width: 275px;
        height: 132px;
        right: -212px;
    }
    
    .fundraiser .background .content .message p {
        font-size: calc(0.014 * 100vw + 0.137px);
        line-height: calc(0.013 * 100vw + 11.087px);
        margin: 0px 250px 0 224px;
    }
}

@media (min-width: 1440px) and (max-width: 1914px) {
    /* Background image break point */
    .bg-left {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/left-715.svg") no-repeat;
        width: 230px;
        height: 129px;
        padding-left: 0;
        top: 3px;
    }
    
    .bg-right {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/right-715.svg") no-repeat;
        width: 285px;
        height: 135px;
        right: -14px;
    }
    
    .fundraiser .background .content .message p {
        font-size: calc(0.011 * 100vw + -0.19px);
        line-height: calc(0.015 * 100vw + -2.266px);
        margin: 0px 280px 0 225px;
    }
}

@media (min-width: 1915px) {
    /* Background image break point */
    .bg-left {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/left-715.svg") no-repeat;
        width: 230px;
        height: 137px;
        padding-left: 0;
    }
    
    .bg-right {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("https://static.gnu.org/nosvn/banners/202206fundraiser/img/right-715.svg") no-repeat;
        width: 285px;
        height: 135px;
    }
    
    .fundraiser .background .content .message p {
        font-size: calc(0.008 * 100vw + 3.305px);
        line-height: calc(0.007 * 100vw + 9.141px);
        margin: 0px 280px 0 225px;
    }
}
